---
import ButtonMain from "@components/base/ButtonMain.astro";
import ButtonSub from "@components/base/ButtonSub.astro";
import HeroMainModuleOne from "@components/hero/HeroMainModuleOne.astro";
---

<div
  class="min-h-screen w-full overflow-hidden bg-muted-100 dark:bg-muted-1000"
>
  <div class="min-h-screen w-full max-w-7xl mx-auto flex items-center px-4">
    <div class="w-full grid grid-cols-12">
      <div class="col-span-12 ltablet:col-span-5 lg:col-span-5">
        <div
          class="h-full ptablet:max-w-lg ptablet:mx-auto flex items-center mb-8 ltablet:mb-0 lg:mb-0"
        >
          <div
            class="text-center ltablet:text-center lg:text-center font-sans space-y-4"
          >
            <h1
              class="font-medium text-4xl ptablet:text-5xl lg:text-5xl text-muted-800 dark:text-white"
            >
              FACTURACIÓN EN LÍNEA MODALIDADES
            </h1>
            <p class="text-lg text-muted-500 dark:text-muted-400">
              Computarizada en Linea y Electronica en Linea
            </p>
            <div
              class="w-full flex items-center justify-center ltablet:justify-start lg:justify-center gap-2"
            >
              <ButtonMain to={"/home"} class="'min-w-[130px]'"
                >Get Started</ButtonMain
              >
              <ButtonSub to={"/home"} class="'min-w-[130px]'">Explore</ButtonSub
              >
            </div>
          </div>
        </div>
      </div>
      <div class="relative col-span-12 ltablet:col-span-7 lg:col-span-7 mx-auto">
        <div class="w-96 h-80 relative rounded-t-[60%] rounded-b-[45%] overflow-hidden bg-orange-500 origin-center">
          <img src="/img/illustrations/man.png" alt="Imagen" class="object-cover object-top mx-auto absolute inset-0" style="clip-path: ellipse(90% 70% at 75% 50%)" />
        </div>
     
      </div>
        <!-- <div class="relative col-span-12 ltablet:col-span-7 lg:col-span-7">
          <img
            src="/img/illustrations/man.png"
            class="block dark:hidden w-full ltablet:max-w-[540px] max-w-[620px] mx-auto"
            alt="Hero image"
          />
          <img
            src="/img/illustrations/man.png"
            class="hidden dark:block w-full ltablet:max-w-[540px] max-w-[620px] mx-auto"
            alt="Hero image"
          /> -->
          <!-- Decoration -->
          <!-- <HeroMainModuleOne /> -->
        </div>
  </div>
</div>
