---
import MockupTwo from "@components/mockup/MockupTwo.astro";
---

<div class="flex flex-col-reverse md:flex-row items-center py-6">
  <!--Column-->
  <div class="h-96 w-96 md:w-1/2 relative p-6">
    <!--Feature-->
      <img src="/img/illustrations/invoice/dibujo-2.png" alt="Imagen" class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 h-full" />
  </div>

  <!--Column-->

  <div class="md:flex-column md:w-1/2">
    <div class="w-full relative p-6">
      <!--Section content-->
      <div class="w-full max-w-lg space-y-4">
        <!--Badge-->
        <h4
          class="font-sans font-semibold text-xs tracking-widest uppercase mb-3 text-primary-500"
        >
          Remote Conversations
        </h4>
        <!--Title-->
        <h2
          class="font-heading font-medium text-4xl text-muted-800 dark:text-white"
        >
          Su Logotipo en la Factura
        </h2>
        <!--Subtitle-->
        <p class="font-sans text-lg text-muted-500 dark:text-muted-400">
          Personalizamos su logotipo en las facturas para la impresión de la
          misma.
        </p>
        <!--Link-->
        <a
          href="#"
          class="group inline-flex items-center gap-4 text-primary-500 hover:text-primary-400 transition-colors duration-300"
        >
          <span class="font-sans font-medium text-sm">
            Learn more about our suite
          </span>
          <i
            class="iconify w-4 h-4 group-hover:translate-x-1 transition-transform duration-300"
            data-icon="lucide:arrow-right"></i>
        </a>
      </div>
    </div>
    <div class="w-full relative p-6">
      <!--Section content-->
      <div class="w-full max-w-lg space-y-4">
        <!--Badge-->
        <h4
          class="font-sans font-semibold text-xs tracking-widest uppercase mb-3 text-primary-500"
        >
          Remote Conversations
        </h4>
        <!--Title-->
        <h2
          class="font-heading font-medium text-4xl text-muted-800 dark:text-white"
        >
          Envio por corréo Electrónico
        </h2>
        <!--Subtitle-->
        <p class="font-sans text-lg text-muted-500 dark:text-muted-400">
          Envíe las facturas a sus clientes directamente desde nuestro sistema y
          vea cuándo el cliente ha recibido y leído su factura.
        </p>
        <!--Link-->
        <a
          href="#"
          class="group inline-flex items-center gap-4 text-primary-500 hover:text-primary-400 transition-colors duration-300"
        >
          <span class="font-sans font-medium text-sm">
            Learn more about our suite
          </span>
          <i
            class="iconify w-4 h-4 group-hover:translate-x-1 transition-transform duration-300"
            data-icon="lucide:arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
